/*
    This style applies to the main container of the form. It sets the 
    container to display as a flexbox in column direction, centered both 
    horizontally and vertically, and takes up 115% of the viewport height. 
    It also sets a background color and a specific font.
*/

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 115vh; 
    background-color: rgb(198, 198, 174);
    font-family: "Chakra Petch", sans-serif;
}

.errorText {
    color: rgb(237, 46, 29);
    margin-left: 10px;
}

.labelStyle {
    color: rgb(44, 44, 120); 
    font-weight: bold; 
}

/*
    These styles apply to the form buttons. They set the background color, 
    text color, padding, border, cursor, and font of the buttons. They also 
    define a different background color for when the cursor is over 
    the .buttonStyleTipo button and when the button is disabled.
*/

.buttonStyleTipo {
    background-color: rgb(84, 126, 134); 
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif;
}
  
.buttonStyleTipo:hover {
    background-color:rgb(41, 107, 103); 
}

.buttonStyleCrear {
    background-color: rgb(41, 107, 103); 
    color: white;
    padding: 5px 25px;
    border: none;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif;
}

.buttonDisabled {
    background-color: #b3a7a7;
    cursor: not-allowed;
    color: #fff;
}
