.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
  
.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  z-index: -1; /* Coloca la imagen detrás del contenido */
}

.centeredButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
.heading {
  font-size: 2.5rem;
  margin-bottom: 20px; 
  color: black; 
  font-family: "Arial", sans-serif;
}

.centeredButton:hover {
  background-color: white;
  color: red;
}
