/*
  This style applies to the main container of the Landing component. 
  It sets the container to display as a flexbox in column direction, 
  centered both horizontally and vertically, and takes up 100% of the 
  viewport height.
*/

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

/*
  This style applies to the background image of the Landing component. It 
  makes the image cover the entire container and places it behind the 
  content.
*/

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  z-index: -1; /* Coloca la imagen detrás del contenido */
}

/*
  These styles apply to the button in the Landing component. They set 
  the padding, font size, background color, text color, border, border 
  radius, cursor, and background color transition of the button. They 
  also define a different background color and text color for when the 
  cursor is over the button.
*/

.centeredButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
.heading {
  font-size: 2.5rem;
  margin-bottom: 20px; 
  color: black; 
  font-family: "Arial", sans-serif;
}

.centeredButton:hover {
  background-color: white;
  color: red;
}
